<nav class="navbar navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button type="button" routerLink="principal" class="btn navbar-brand">Angualar</button>
        
        <button type="button" routerLink="calculadora" class="btn navbar-brand">Calculadora</button>
        <button type="button" routerLink="contador" class="btn navbar-brand">Contador</button>
        <button type="button" routerLink="heroeListado" class="btn navbar-brand">Heroes</button> 
      </div>
  </nav>